@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap");
@import "var";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
.container {
  max-width: 1100px !important;
}
.top,
.footer {
  background: $bg-color;
}
.nav-item a {
  color: #fff !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  .dropdown-item {
    color: $b-color !important;
  }
  .dropdown-item:hover {
    background: none;
    color: $o-color !important;
  }
}
.l-more,
.o-now {
  background: linear-gradient(
    rgb(180, 60, 4),
    rgb(250, 94, 4),
    rgb(250, 94, 4)
  );
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  text-transform: uppercase;
}
.curve {
  fill: #0a178f;
  stroke: #0a178f;
}
.curve2 {
  fill: #f7fafa;
}
.r-smart,
.head {
  position: relative;
}
.r-smart:after {
  content: "";
  position: absolute;
  background: linear-gradient(
    rgb(180, 60, 4),
    rgb(250, 94, 4),
    rgb(250, 94, 4)
  );
  width: 80px;
  height: 3px;
  top: 60px;
  left: 0;
}
.team:after,
.plan:after {
  content: "";
  position: absolute;
  background: linear-gradient(
    rgb(180, 60, 4),
    rgb(250, 94, 4),
    rgb(250, 94, 4)
  );
  width: 80px;
  height: 3px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.services {
  background: #f7fafa;
  height: 400px;
  width: 100%;
}
.count,
.clr {
  color: $bg-color;
}
.my-box {
  margin-top: -400px;
}

.our-service {
  background: #f7fafa;
}
.progress-bar {
  background-color: $bg-color !important;
}
.progress-bar1 {
  background-color: rgb(247, 95, 7) !important;
}
.progress-bar2 {
  background-color: rgb(250, 194, 10) !important;
}
.plan-box {
  position: relative;
}
.img-box {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #f7fafa;
  left: 50%;
  transform: translateX(-50%);
}
.box-cont {
  margin-top: 110px;
}
.list-group-item {
  background: none;
  border: 1px solid #fff;
  a {
    color: #fff !important;
    margin-left: -20px;
    font-size: 13px;
  }
  i {
    color: #fff;
    padding-right: 30px;
    margin-left: -18px;
  }
}
.go-to-top {
  position: relative;
}
.nav-head {
  top: 0;
  position: fixed;
  animation: head 1s linear 1;
  background: #fff;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 10px 0 #616060;
  ul {
    li {
      a {
        color: black !important;
      }
    }
  }
}
@keyframes head {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.go-top i {
  background: rgb(168, 69, 69);
  position: absolute;
  padding: 20px;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  display: block;
  position: fixed;
}
.or-team {
  display: flex;
  justify-content: space-between;
  perspective: 1000px;
}
.my-img-box {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.my-img-box img {
  height: 100%;
  width: 100%;
  transition: 0.8s;
}
.my-img-box:hover img {
  transform: scale(1.5);
}
.video-sec {
  position: relative;
}
.video-i i {
  position: absolute;
  background: rgb(243, 98, 2);
  color: #fff;
  padding: 17px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.readMore {
  position: relative;
  padding: 10px 30px;
  color: #0a178f;
  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 0;
    border-right: 2px solid #0a178f;
    border-top: 2px solid #0a178f;
    transition: 0.5s;
  }
  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    bottom: 0;
    border-left: 2px solid #0a178f;
    border-bottom: 2px solid #0a178f;
    transition: 0.5s;
  }
  &:hover:after {
    width: 100%;
    height: 100%;
  }
  &:hover:before {
    width: 100%;
    height: 100%;
  }
}
#lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 45%;
  margin-top: 25%;
}
#lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
#lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(6, 212, 41);
  margin: -4px 0 0 -4px;
}
#lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
#lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
#lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
#lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
#lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
#lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
#lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
#lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
#lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
#lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
#lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
#lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
#lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
#lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
#lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
#lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#main {
  display: none;
}
@media (max-width: 800px) {
  .my-box {
    margin-top: 0;
  }
  .respo {
    margin-top: 20px;
  }
  .bottom-footer {
    display: flex;
    flex-direction: column;
  }
  header {
    display: none !important;
  }
}
